body {

    margin: 0;
}

header {
    background-image: url(images/pattern.png);
    background-color:rgb(67, 109, 194);
    height: 125px; 
    padding-top: 50px;
  
}

.immagine-header {
    
    height: 80px;
    padding-top: 40px;
 }

 h1 {

    font-size: 60px;
}
 

.tim1 {
    width: 50%;
    height: 500px;
    margin-left: 3px;
 }
 
 .tim2 {
     height: 500px;
     width:45%;
  
 }