body {

    margin: 0;
}

header {
    background-image: url(images/pattern.png);
    background-color:rgb(67, 109, 194);
    height: 125px; 
    padding-top: 50px;
  
}

.immagine-header {
    
    height: 80px;
    padding-top: 40px;
 }

 h1 {

    font-size: 60px;
}
 

.tim1 {
    width: 50%;
    height: 500px;
    margin-left: 3px;
 }
 
 .tim2 {
     height: 500px;
     width:45%;
  
 }

 .section-1 {
    
    margin-left: 10px;
}

.sottotitolo {

    width: 20%;
    height: 30px;
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: -40px;
    color: #939393;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

.paragrafi-sottolafoto  {

    margin-top: -20px;
}

.section-2 {
    margin-left: 10px;
}

.paragrafo {

    margin-left: -10px;
  }

  .sottolineato1{

    background-color: yellow;
}

thead {
    background-color: rgb(22, 134, 159);
    color: white;
    text-align: center;
    height: 2px;
    text-align: left;
   
    
}

.primacolonna {
   
    background-color: rgba(62, 201, 201, 0.636);
}

.secondacolonna {
    
    
    background-color: white;
}
.terzacolonna {
    
 
    background-color: rgba(62, 201, 201, 0.636);
}

.tabella {
   
    text-align: left;
    border-collapse: collapse;
    
}

.ultimacolonna{
    width: 50%;
      
  }

  .sottolineato2 {

    background-color: yellow;
}

.footer1 {

    color: #939393;
   
}

.footer2 {
    width:300px;
    height: 300px;
    background-image: url(images/monitor.jpg);
    background-repeat: no-repeat;
    text-align: left;
    margin-left: 5px;

}

.footer3 {
    width:300px;
    height: 300px;
    background-image: url(images/graph.jpg);
    background-repeat: no-repeat;
    margin-left: 5px;
    
    
}

h3{
    color: white;
}

